.barbershopBlock {
  width: 1440px;
  height: 950px;
}

.barbershopData {
  margin-top: 80px;

  .barbershopName {
    margin-top: 0px;
    padding: 60px;
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: Poppins-ExtraBold, sans-serif;
  }

  .barbershopImage {
    img {
      margin-left: 60px;
      width: 600px;
      height: 674px;
      border-radius: 56px;
      position: absolute;
    }
  }

  .barbershopServicesData {
    gap: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 1vw;
    left: 48vw;
  }
}

@media (max-width: 768px) {
  .barbershopBlock {
    width: auto;
    height: 100vw;
  }

  .barbershopData {
    margin-top: 0px;

    .barbershopName {
      font-size: 36px;
      text-align: center;
    }

    .barbershopImage {
      display: none;
    }

    .barbershopServicesData {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: static;
    }
  }
}

@media (min-width: 1500px) {
  .barbershopBlock {
    width: 1600px;
    height: 1000px;
  }

  .barbershopData {
    margin-top: 100px;
  }

  .barbershopName {
    padding: 80px;
    font-size: 80px;
  }

  .barbershopImage {
    img {
      margin-left: 80px;
      width: 700px;
      height: 800px;
      border-radius: 60px;
    }
  }

  .barbershopServicesData {
    gap: 30px;
    padding: 20px;
    top: 2vw;
    left: 50vw;
  }
}