.barbershopBlock {
  width: 1440px;
  height: 950px;
}

.barbershopData {
  margin-top: 80px;

  .barbershopName {
    margin-top: 0px;
    padding: 60px;
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: Poppins-ExtraBold, sans-serif;
  }

  .barbershopServices {

    img {
      margin-left: 60px;
      width: 600px;
      height: 674px;
      border-radius: 56px;
      position: absolute;
    }
  }

  .barbershopServicesData {
    gap: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 1vw;
    left: 48vw;
  }
}