.chooseContainer {
  width: 1440px;
  height: 988px;
  background-size: cover;
}

.whyChooseUs {
  margin: 100px 120px;

  .choose {
    margin-top: 280px;
    gap: 24px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: absolute;

    .headerChoose {
      font-size: 62px;
      color: white;
      font-family: Poppins-ExtraBold, sans-serif;
    }

    .paragraphChoose {
      font-size: 24px;
      line-height: 1.5;
      color: white;
      font-family: Poppins-SemiBold, sans-serif;
    }

    .listChoose {
      font-size: 24px;
      line-height: 3;
      color: white;
      font-family: Poppins-Light, sans-serif;

      ul li {
        line-height: 1.8;
        margin-left: 20px;
        list-style: disc;
        position: relative;

        &::before {
          content: "";
          display: block;
          height: 20px;
        }
      }
    }
  }

  .rectangle {
    margin-top: 270px;
    width: 584px;
    height: 684px;
    border-radius: 32px;
    gap: 40px;
    right: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: white;

    .workingHours {
      font-size: 50px;
      color: #B5AF93;
      font-family: Poppins-Bold, sans-serif;
    }

    .schedule {
      ul li {
        display: flex;
        justify-content: center;
        font-size: 28px;
        letter-spacing: 6px;
        line-height: 46px;
        color: black;
        font-family: Poppins-Light, sans-serif;
      }
    }
  }
}