.backToTopButton {
  bottom: 20px;
  right: 20px;
  z-index: 2;
  position: fixed;
  cursor: pointer;
  transition: opacity 0.3s ease;

  img {
    width: 4vw;
    height: 4vw;
  }
}

.backToTopButtonVisible {
  opacity: 1;
}

.backToTopButtonHidden {
  opacity: 0;
}

@media (max-width: 768px) {
  .backToTopButton img {
    width: 8vw;
    height: 8vw;
  }
}

@media (min-width: 1500px) {
  .backToTopButton img {
    width: 3vw;
    height: 3vw;
  }
}