.hiddenText {
  padding-top: 10px;
  font-size: 14px;
  width: 16vw;
  color: black;
  overflow: hidden;
  font-family: Poppins-Light;
  transition: height 0.3s ease;
}

.hiddenTextVisible {
  overflow: visible;
  font-size: 14px;
}

.buttonMore {
  margin-top: 26px;
  padding: 18px 56px;
  border-radius: 14px;
  font-size: 32px;
  text-align: center;
  display: inline-block;
  user-select: none;
  color: white;
  background-color: black;
  font-family: Poppins-Regular;
  cursor: pointer;

  &:hover {
    border: none;
    background-color: #B5AF93;
    color: white;
  }

  :active {
    padding: 0;
  }
}