.buttonMore {
  margin-top: 26px;
  padding: 18px 56px;
  border-radius: 14px;
  font-size: 32px;
  text-align: center;
  display: inline-block;
  color: white;
  background-color: black;
  font-family: Poppins-Regular;
  cursor: pointer;

  &:hover {
    border: none;
    background-color: #B5AF93;
    color: white;
  }
}