.oneType {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

img {
  width: 8vw;
  height: 8vw;
}

.oneTypeText {
  margin-top: 30px;
  font-size: 28px;
  color: black;
  font-family: Poppins-Regular, sans-serif;
}

@media only screen and (max-width: 768px) {
  .oneType {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 20vw;
    height: 20vw;
    margin-bottom: 10px;
  }

  .oneTypeText {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 1500px) {
  .oneType {
    justify-content: flex-start;
  }

  img {
    width: 6vw;
    height: 6vw;
  }

  .oneTypeText {
    margin-top: 40px;
    font-size: 34px;
  }
}