.onePrice {
  margin-top: 100px;
}

.namePrice {
  font-size: 36px;
  color: black;
  font-family: Poppins-ExtraLight, sans-serif;
}
.valuePrice {
  font-size: 36px;
  color: #9D9570;
  font-family: Poppins-Light, sans-serif;
}

.linePrice {
  width: 580px;
  border-bottom: 1px solid #A7A7A7;
}