.onePrice {
  display: flex;
  margin-top: 80px;
  gap: 100px;
}

.namePrice {
  font-size: 36px;
  color: black;
  font-family: Poppins-ExtraLight, sans-serif;
}

.valuePrice {
  margin-left: auto;
  width: 58vw;
  font-size: 36px;
  color: #9D9570;
  font-family: Poppins-Light, sans-serif;
}

.linePrice {
  margin-top: 20px;
  width: 580px;
  border-bottom: 1px solid #A7A7A7;
}

@media (max-width: 768px) {
  .onePrice {
    margin-top: 40px;
    display: flex;
    gap: 30px;
  }

  .namePrice {
    font-size: 16px;
    white-space: nowrap;
  }

  .valuePrice {
    font-size: 18px;
  }

  .linePrice {
    margin-top: 10px;
    width: 240px;
  }
}

@media (min-width: 1500px) {
  .onePrice {
    gap: 150px;
    margin-top: 100px;
  }

  .namePrice {
    font-size: 40px;
  }

  .valuePrice {
    width: 50vw;
    font-size: 40px;
  }

  .linePrice {
    width: 680px;
    margin-top: 25px;
  }
}
