.GalleryContainer {
  gap: 10vw;
  display: flex;
  position: relative;

  img {
    width: 720px;
    height: 870px;
  }
}

.GalleryContactContainer {
  gap: 30px;
  right: 3vw;
  top: 3vw;
  display: flex;
  flex-direction: column;
  position: absolute;

  .GalleryText {
    font-size: 70px;
    text-align: center;
    color: white;
    white-space: nowrap;
    font-family: Poppins-ExtraBold, sans-serif;
  }
}