.oneTypeTeam {
  display: flex;
  justify-content: left;
}

img {
  width: 8vw;
  height: 8vw;
}

.oneTypeTeamText {
  margin-top: 30px;
  font-size: 28px;
  color: black;
  font-family: Poppins-Regular, sans-serif;
}