.footerContainer {
  display: flex;
  position: relative;

  img {
    width: 730px;
    height: 600px;
  }
}

.contactContainer {
  gap: 30px;
  right: 3vw;
  top: 3vw;
  display: flex;
  flex-direction: column;
  position: absolute;

  .contactText {
    font-size: 70px;
    text-align: center;
    color: white;
    white-space: nowrap;
    font-family: Poppins-ExtraBold, sans-serif;
  }
}

@media (max-width: 768px) {
  .footerContainer {
    align-items: center;

    img {
      height: 500px;
      visibility: hidden;
    }

    .contactContainer {
      left: 10px;
      margin-top: 30px;
      align-items: center;
    }

    .contactText {
      font-size: 36px;
    }
  }
}

@media (min-width: 1500px) {
  .footerContainer img {
    width: 600px;
    height: 500px;
  }

  .contactContainer .contactText {
    font-size: 60px;
  }
}