.buttonBookOnline {
  margin-top: 26px;
  display: inline-block;
  padding: 18px 32px;
  border: 1px solid black;
  border-radius: 14px;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: none;
    background-color: #B5AF93;
    color: white;
  }
}