.submit {
  padding: 16px;
  width: 618px;
  height: 66px;
  border-radius: 20px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #9D9570;
  font-family: Poppins-Medium, sans-serif;
}
