.submit {
  margin-top: 18px;
  width: 618px;
  height: 66px;
  border-radius: 20px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border: none;
  user-select: none;
  background-color: #9D9570;
  font-family: Poppins-Medium, sans-serif;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .submit {
    width: 60vw !important;
    height: 50px;
    font-size: 28px;
    border-radius: 16px;
  }
}

@media only screen and (min-width: 1500px) {
  .submit {
    width: 800px;
    height: 80px;
    font-size: 40px;
    border-radius: 24px;
  }
}
