.oneService {
  width: 330px;
  height: 310px;
  border-radius: 56px;
  padding: 30px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: #D9D9D9;

  img {
    width: 128px;
    height: 128px;
  }

  .serviceText {
    font-size: 48px;
    color: black;
    white-space: nowrap;
    font-family: Poppins-SemiBold, sans-serif;
  }
}

@media (max-width: 768px) {
  .oneService {
    width: 230px;
    height: 200px;
    border-radius: 40px;
    padding: 20px;
    gap: 20px;
  }

  .oneService img {
    width: 100px;
    height: 100px;
  }

  .oneService .serviceText {
    font-size: 26px;
    text-align: center;
  }
}

@media (min-width: 1500px) {
  .oneService {
    width: 400px;
    height: 360px;
    border-radius: 60px;
    padding: 40px;
    gap: 35px;
  }

  .oneService img {
    width: 150px;
    height: 150px;
  }

  .oneService .serviceText {
    font-size: 54px;
  }
}

