.contactsData {
  padding: 10px 5px;

  img {
    width: 26px;
    height: 26px;
    margin-right: 5px;
  }

  .contacts {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 22px;
  }
}
